.points{
    -fx-font-family: "Lato";
    -fx-font-size: 100px;
}

.btn{
    -fx-font-family: "Lato Light";
    -fx-font-size: 15px;
    -fx-background-color: #2596be;
    -fx-background-radius: 30;
}

.btn:hover{
    -fx-background-color: #76b5c5;
    -fx-cursor: hand;
}

.btn-cancel{
    -fx-font-family: "Lato Light";
    -fx-font-size: 15px;
    -fx-background-color: #FF1E00;
    -fx-background-radius: 30;
}

.btn-cancel:hover{
    -fx-background-color: #990000;
    -fx-cursor: hand;
}


.select{
    -fx-font-family: "Lato Light";
    -fx-font-size: 15px;
    -fx-background-color: #2596be;
    -fx-background-radius: 30;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.select:hover{
    -fx-background-color: #76b5c5;
    -fx-background-insets: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
    -fx-cursor: hand;
}

.select .list-cell{
    -fx-font-family: "Lato Light";
    -fx-font-size: 15px;
    -fx-background-color: #2596be;
    -fx-background-radius: 30;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-background-insets: 5 0 5 5;
    -fx-padding: 7 0 7 5;
    -fx-alignment: center ;
}


.select .list-view{
    -fx-background-color: transparent;
}





.select .list-cell:hover{
    -fx-background-color: #76b5c5;
    -fx-cursor: hand;

}

.Cell{
    -fx-background-color: black, white;
    -fx-background-insets: 0, 5 5 5 5;
}